/* put specific overrides to CSS for your workshop in this file */

.reveal .pullquote {
	font-style: italic;
	font-family: 'Libre Baskerville', 'Podkova', Arial, sans-serif;
	font-weight: 400;
	color: #212121;
}
	.pullquote.big-quote {
		font-size: 54px;
	}

	.pullquote.small-quote {
		font-size: 30px;
		line-height: 1.7;
		max-width: 73%;
	}

.reveal .dark {
	color: #212121;
}

.reveal img + img {
	margin-left: 1em;
}

.reveal .no-border {
	border: none;
	box-shadow: none;
}

.reveal .linespace {
	line-height: 1.1;
}

.reveal .reverse-indent {
	text-indent: -1.5em;
}

.reveal .arial {
	font-family: arial;
}

.reveal .comicsans {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.reveal .courier {
	font-family: "Courier New", Courier;
}

.reveal .georgia {
	font-family: Georgia;
}

.reveal .left-align {
	text-align: left;
}